@model IEnumerable<MvcCoreLinqXML.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TituloOriginal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TituloOriginal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Poster)" width="120px" height="120px" />

            </td>
            <td>
                <a class="btn btn-danger" asp-controller="Peliculas" asp-action="Escenas" asp-route-idpelicula="@item.Id">Ver Escenas</a>
                <a class="btn btn-warning" asp-controller="Peliculas" asp-action="EscenaPelicula" asp-route-idpelicula="@item.Id" >Ver Escenas Paginadas</a>
                <a class="btn btn-success" asp-controller="Peliculas" asp-action="Details" asp-route-idpelicula="@item.Id">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
